---
title: Build Better Prototypes with Veams
menuLink: Home
sortOrder: 01
---

{{#extend "lyt-default"}}
	{{#content "main"}}
		<h2 class="myHeading">Veams components!</h2>

        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-tablet-s-12 is-col-tablet-l-12 is-col-desktop-l-12"}}

                {{#with slider-bp.variations.autoplay}}
                    <h2 class="myHeading">Carousel Image <span>{{docs.variationName}}</span></h2>
                    {{! wrapWith START: Slider }}
                    {{#wrapWith "c-slider" settings=this.settings content=this.content}}
                    {{! WrapWith START: Slider List }}

                        {{#wrapWith "c-slider__list"}}
                            {{#times 3}}
                                {{#wrapWith "c-slider__item"}}
                                    <img class="image" src="https://placehold.it/1920x800" alt="test">
                                {{/wrapWith}}
                            {{/times}}
                        {{/wrapWith}}
                    {{! WrapWith END: Slider List }}
                    {{/wrapWith}}
                {{! wrapWith END: Slider}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-8"}}

                {{#with slide-fox-bp.variations.default}}

                    <h2 class="myHeading">Slide Fox <span>{{docs.variationName}}</span></h2>
                    <h3 class="myHeading">{{content.heading}}</h3>
                    <p>{{content.contentText}}</p>

                    {{#wrapWith "c-slide-fox" settings=this.settings}}
                        {{#with @root.article-bp.variations.slideFox}}
                            {{#wrapWith "c-article" settings=this.settings content=this.content}}
                                {{content.articleBody.articleText}}
                            {{/wrapWith}}
                        {{/with}}
                    {{/wrapWith}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-6"}}

                {{#with slider-bp.variations.multiple}}
                    <h2 class="myHeading">Carousel Image <span>{{docs.variationName}}</span></h2>
                    {{! wrapWith START: Slider }}
                    {{#wrapWith "c-slider" settings=this.settings content=this.content}}
                    {{! WrapWith START: Slider List }}
                        {{#wrapWith "c-slider__list"}}
                            {{#times 9}}
                                {{#wrapWith "c-slider__item"}}
                                    <img class="image" src="https://placehold.it/800x400" alt="test">
                                {{/wrapWith}}
                            {{/times}}
                        {{/wrapWith}}
                    {{! WrapWith END: Slider List }}
                    {{/wrapWith}}
                {{! wrapWith END: Slider}}
                {{/with}}

            {{/wrapWith}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-6"}}

                {{#with slider-bp.variations.infinite}}
                    <h2 class="myHeading">Carousel Image <span>{{docs.variationName}}</span></h2>
                    {{! wrapWith START: Slider }}
                    {{#wrapWith "c-slider" settings=this.settings content=this.content}}
                    {{! WrapWith START: Slider List }}
                        {{#wrapWith "c-slider__list"}}
                            {{#times 2}}
                                {{#wrapWith "c-slider__item"}}
                                    <img class="image" src="https://placehold.it/800x400" alt="test">
                                {{/wrapWith}}
                            {{/times}}
                        {{/wrapWith}}
                    {{! WrapWith END: Slider List }}
                    {{/wrapWith}}
                {{! wrapWith END: Slider}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}



        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-6"}}

                {{#with accordion-bp.variations.simple}}
                    <h2 class="myHeading">Accordion <span>{{docs.variationName}}</span></h2>

                    {{! WrapWith START: Accordion }}
                    {{#wrapWith "c-accordion" settings=this.settings}}
                    {{! WrapWith START: Item }}
                        {{#each content.items}}
                            {{#wrapWith "c-accordion__item" accItemId=this.itemId accButton=itemBtnText}}
                                {{itemText}}
                            {{/wrapWith}}
                        {{/each}}
                    {{! WrapWith END: Item }}
                    {{/wrapWith}}
                {{! WrapWith END: Accordion }}
                {{/with}}

            {{/wrapWith}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-6"}}

                {{#with accordion-bp.variations.singleOpen}}
                    <h2 class="myHeading">Accordion <span>{{docs.variationName}}</span></h2>
                    {{! WrapWith START: Accordion }}
                    {{#wrapWith "c-accordion" settings=this.settings}}
                    {{! WrapWith START: Item }}
                        {{#each content.items}}
                            {{#wrapWith "c-accordion__item" accItemId=this.itemId accButton=itemBtnText}}
                                {{itemText}}
                            {{/wrapWith}}
                        {{/each}}
                    {{! WrapWith END: Item }}
                    {{/wrapWith}}
                {{! WrapWith END: Accordion }}
                {{/with}}

            {{/wrapWith}}


        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-tablet-s-12 is-col-tablet-l-12 is-col-desktop-l-12"}}

                {{#with video-bp.variations.default}}
                    <h2 class="myHeading">Video <span>{{docs.variationName}}</span></h2>
                    {{> c-video settings=this.settings content=this.content}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-6"}}

                {{#with quote-bp.variations.simple}}
                    <h2 class="myHeading">Quote <span>{{docs.variationName}}</span></h2>
                    {{> c-quote }}
                {{/with}}

            {{/wrapWith}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-3"}}

                {{#with quote-bp.variations.full}}
                    <h2 class="myHeading">Quote <span>{{docs.variationName}}</span></h2>
                    {{> c-quote }}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-tablet-s-12 is-col-tablet-l-12 is-col-desktop-l-12"}}

                {{#with table-bp.variations.tableWithHead}}
                    <h2 class="myHeading">Table <span>{{docs.variationName}}</span></h2>
                    {{> c-table content=this.content settings=this.settings}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-tablet-s-12 is-col-tablet-l-12 is-col-desktop-l-12"}}

                {{#with table-bp.variations.tableHeadLeft}}
                    <h2 class="myHeading">Table <span>{{docs.variationName}}</span></h2>
                    {{> c-table content=this.content settings=this.settings}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-tablet-s-12 is-col-tablet-l-12 is-col-desktop-l-12"}}

                {{#with table-bp.variations.tableWithoutHead}}
                    <h2 class="myHeading">Table <span>{{docs.variationName}}</span></h2>
                    {{> c-table content=this.content settings=this.settings}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-tablet-s-12 is-col-tablet-l-12 is-col-desktop-l-12"}}

            {{! WrapWith START: Form Wrapper }}
                {{#with form-bp.variations.default}}
                    <h2 class="myHeading">Form</h2>
                    {{#wrapWith "c-form" settings=settings}}
                        {{#each content.fieldsets}}
                            {{> c-form__fieldset}}
                        {{/each}}
                    {{/wrapWith}}
                {{/with}}
            {{! WrapWith END: Form Wrapper }}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-4"}}

                {{#with cta-bp.variations.withJs}}
                    <h2 class="myHeading">Toggle <span>{{docs.variationName}}</span></h2>
                    {{! WrapWith START: CTA }}
                    {{#wrapWith "c-cta" settings=this.settings content=this.content}}
                        {{> c-cta__content this.content}}
                    {{/wrapWith}}
                {{! WrapWith END: CTA }}
                {{/with}}

            {{/wrapWith}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-8"}}

                {{#with toggler-bp.variations.default}}
                    {{#wrapWith "c-toggler" settings=this.settings content=this.content}}
                        {{content.text}}
                    {{/wrapWith}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-tablet-s-12 is-col-tablet-l-12 is-col-desktop-l-12"}}

                {{#with comparer-bp.variations.default}}
                    <h2 class="myHeading">Comparer <span>{{docs.variationName}}</span></h2>
                    {{> c-comparer}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-2"}}

                {{#with badge-bp.variations.default}}
                    <h2 class="myHeading">Badge <span>{{content.badgeType}}</span></h2>
                    {{> c-badge content=this.content settings=this.settings}}
                {{/with}}

            {{/wrapWith}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-2"}}

                {{#with badge-bp.variations.error}}
                    <h2 class="myHeading">Badge <span>{{content.badgeType}}</span></h2>
                    {{> c-badge content=this.content settings=this.settings}}
                {{/with}}

            {{/wrapWith}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-2"}}

                {{#with badge-bp.variations.success}}
                    <h2 class="myHeading">Badge <span>{{content.badgeType}}</span></h2>
                    {{> c-badge content=this.content settings=this.settings}}
                {{/with}}

            {{/wrapWith}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-2"}}

                {{#with badge-bp.variations.notice}}
                    <h2 class="myHeading">Badge <span>{{content.badgeType}}</span></h2>
                    {{> c-badge content=this.content settings=this.settings}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}

        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-2"}}

                {{#with badge-bp.variations.alert}}
                    <h2 class="myHeading">Badge <span>{{content.badgeType}}</span></h2>
                    {{> c-badge content=this.content settings=this.settings}}
                {{/with}}

            {{/wrapWith}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-10"}}

                {{#with badge-bp.variations.longMessage}}
                    <h2 class="myHeading">Badge <span>{{content.badgeType}}</span></h2>
                    {{> c-badge content=this.content settings=this.settings}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-tablet-s-12 is-col-tablet-l-12 is-col-desktop-l-12"}}

                {{#with pagination-bp.variations.simple}}
                    <h2 class="myHeading">Pagination <span>{{docs.variationName}}</span></h2>
                    {{> c-pagination}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-tablet-s-12 is-col-tablet-l-12 is-col-desktop-l-12"}}

                {{#with picture-bp.variations.default}}
                    <h2 class="myHeading">Picture <span>{{docs.variationName}}</span></h2>
                    {{> c-picture}}
                {{/with}}


            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-tablet-s-12 is-col-tablet-l-12 is-col-desktop-l-12"}}

                {{#with picture-bp.variations.lazyload}}
                    <h2 class="myHeading">Picture <span>{{docs.variationName}}</span></h2>
                    {{> c-picture}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-8"}}

                {{#with article-bp.variations.default}}
                    <h2 class="myHeading">Article <span>{{docs.variationName}}</span></h2>
                    {{#wrapWith "c-article" settings=this.settings content=this.content}}
                        {{content.articleBody.articleText}}
                    {{/wrapWith}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="is-col-mobile-s-12 is-col-tablet-s-12 is-col-tablet-l-12 is-col-desktop-l-12"}}

                <h2 class="myHeading">Overlay</h2>
                {{! CTA COMPONENT}}
                {{#with cta-bp.variations.overlay}}
                {{! WrapWith START: CTA }}
	                {{#wrapWith "c-cta" settings=this.settings content=this.content}}
		                <img src="http://placehold.it/250x150/ff00d0/fff" alt="">
	                {{/wrapWith}}
                {{! WrapWith END: CTA }}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}

        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-8"}}

                {{#with figure-bp.variations.simple}}
                    <h2 class="myHeading">Figure <span>{{docs.variationName}}</span></h2>
                    {{> c-figure}}
                {{/with}}

                {{#with figure-bp.variations.caption}}
                    <h2 class="myHeading">Figure <span>{{docs.variationName}}</span></h2>
                    {{> c-figure}}

                {{/with}}

                {{#with figure-bp.variations.video}}
                    <h2 class="myHeading">Figure <span>{{docs.variationName}}</span></h2>
                    {{> c-figure}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}


        {{#wrapWith "u-grid-row"}}
            {{#wrapWith "u-grid-col" colClasses="u-grid-col is-col-mobile-s-12 is-col-mobile-l-8"}}

                {{#with rte-bp.variations.single}}
                    <h2 class="myHeading">Rich text Editor <span>{{docs.variationName}}</span></h2>
                    {{> c-rte}}
                {{/with}}

            {{/wrapWith}}
        {{/wrapWith}}





	{{/content}}
{{/extend}}
