<div class="c-toggler{{#if
		options.settings.togglerContextClass}}--{{options.settings.togglerContextClass}}{{else}}--default{{/if}}{{#if
		options.settings.togglerClasses}} {{options.settings.togglerClasses}}{{/if}}"
	{{#if options.settings.togglerId}} id="{{options.settings.togglerId}}"{{/if}}
     data-css="c-toggler"
     {{#if options.settings.togglerJsModule}}
        {{#unless options.settings.togglerJsModuleWithContext}}
            data-js-module="toggler"
        {{else}}
            data-js-module="{{options.settings.togglerJsModuleWithContext}}"
        {{/unless}}
     {{/if}}
    {{#if options.settings.togglerJsOptions}}
     data-js-options='{{stringify options.settings.togglerJsOptions}}'{{/if}}{{#if
		options.settings.togglerJsItem}} data-js-item="{{options.settings.togglerJsItem}}"{{/if}}{{#each options.settings.attributes}} {{name}}="{{value}}"{{/each}}>
	<div class="toggler__wrapper">
		{{{yield}}}
	</div>
</div>