---
publish: false
---
<div class="form__select">
	<div class="form__label-wrapper">
		<label for="{{id}}" class="form__select-label">
			{{content.label}}{{#if settings.required}} <abbr title="Required">*</abbr>{{/if}}
		</label>
	</div>
	<div class="form__select-wrapper">
		<select id="{{settings.id}}"{{#if settings.jsModule}} data-js-module="dropdown"{{/if}}
		        class="form__select-field{{#if settings.class}} {{settings.class}}{{/if}}" name="{{id}}"
		{{#each settings.attributes}} {{attrKey}}="{{{attrValue}}}"{{/each}}
		{{#if settings.required}} required="required"{{/if}}
		>
		{{#each content.options}}
			<option value="{{settings.val}}"{{#if settings.disabled}} disabled{{/if}}
				{{#if settings.selected}} selected{{/if}}>{{content.name}}</option>
		{{/each}}
		</select>
	</div>
</div>